Repository js55998/git_code_owner, changes with the owners that .github/CODEOWNERS names for each.
All owners: @js55998, @debasishsahoo, @ganeshconfectioneryworks, @foniex@dev/@gmitprojects, @debasish2319, @gietuprojects, @gmitprojects

ADD NEW TXT FILE
  a.txt
Owners: @foniex@dev/@gmitprojects

ADD MULTIPLE WEF FILE
  Script/js/script.js
  Styles/style.css
  bootstrap/bootstrap.css
  index.html
  lib/auth.helper.js
  pages/login.html
  pages/registration.html
Owners: @debasish2319, @gietuprojects, @ganeshconfectioneryworks, @js55998, @debasishsahoo

Update Script.js
  Script/js/script.js
Owners: @debasish2319

Remove .gitignore
  .gitignore
Owners: @js55998, @debasishsahoo

Commit #6
  LICENSE
  README.md
  Script/js/script.js
  Styles/style.css
  a.txt
  bootstrap/bootstrap.css
  index.html
  lib/auth.helper.js
  pages/login.html
  pages/registration.html
Owners: @js55998, @debasishsahoo, @debasish2319, @gietuprojects, @foniex@dev/@gmitprojects, @ganeshconfectioneryworks

Commint #9
  build/log/build.py
  src/log/src.java
Owners: @js55998, @debasishsahoo

Commint #9
  src/log/src.java
Owners: @js55998, @debasishsahoo

Commint #9
  build/log/build.py
Owners: @js55998, @debasishsahoo

Commit #10
  index.html
  index.txt
Owners: @ganeshconfectioneryworks, @foniex@dev/@gmitprojects

Commit #11
  abc.java
Owners: @js55998, @debasishsahoo

Commit #11
  index.js
Owners: @js55998, @debasishsahoo

.github/CODEOWNERS:

# Default Reviewers/CodeOwners  for All code Change
* @js55998 @debasishsahoo  #project Admin

# Reviewer by email for html files
*.html @ganeshconfectioneryworks

# Reviewer by organization Team (@org Name/ @team Name)
*.txt @foniex@dev/@gmitprojects

# Reviewer by Specific Folder
/Script/js/ @debasish2319

# Reviewer by Specific File
*.css @gietuprojects

# All Reviewer by Specific Folder
docs/*  @gietuprojects

# Specific Type of Directory Owner:
**/logs @gmitprojects
